* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: rgba(0, 153, 255, 0.781);
  color: #fff;
  width: 100%;
  font-family: sans-serif;
}

button{

  cursor: pointer;
}